.custom-select__control {
    min-height: 50px;
    height: auto;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 8px;
}

.custom-select__option,
.custom-select__single-value,
.custom-select__input {
    color: #444 !important;
}

.custom-select__placeholder {
  color: #666;  
}

.online-input {
    margin-top: 12px;
}

.my-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    min-height: 50px;
    height: auto;
    border-radius: 8px;
}

.info-online {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-top: 20px;
}

.info-online p {
    cursor: pointer;
}

.select-wrapper { width: 100%; }
.custom-select__control { width: 100%; box-sizing: border-box; }
.custom-select__value-container { min-width: 0; }