.benefits-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.benefits-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
}

.benefits-sub-title {
  font-size: 16px;
  color: rgb(98, 114, 130);
}