.site-footer {
  background: #f8f9fa;
  padding: 2rem 1rem;
  font-size: 14px;
  color: #555;
  margin-top: 50px;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-brand {
  max-width: 300px;
}

.footer-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer-links h5 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.3rem;
}

.footer-links a {
  text-decoration: none;
  color: #0d6efd;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 13px;
  color: #888;
}
