.sanitario-card__input {
    padding-top: 5px;
    padding-bottom: 5px;
}

.sanitario-card__label {
    display: flex;
    align-items: center;
    padding-top: 3px;
}


.sanitario-card__field input{
    border: 1px solid black !important;
    border-radius: 8px;
    padding: 6px 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
    width: 78.5%;
}

.sanitario-card__field textarea{
    border: 1px solid black !important;
    border-radius: 8px;
    padding: 6px 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
    width: 78.5%;
}

.bio-spec__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}

.spec__btn-save {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    border: 1px solid transparent;
    gap: 10px;
    border-radius: 8px;
    background-color: #4CAF76;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
    color: white;
    cursor: pointer;
}

.spec__btn-save:hover {
  background-color: #43a367; 
  transform: scale(1.02);     
}

.spec__btn-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    gap: 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #d3d3d3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
    color: #333;
    cursor: pointer;   
}

.spec__btn-cancel:hover {
  background-color: #b0b0b0;
  transform: scale(1.02);    
}

.sanitario-card__tariffa input{
    border: 1px solid black !important;
    border-radius: 8px;
    padding: 6px 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.sanitario-card__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.add-btn,
.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border: 1px solid transparent;
  gap: 3px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.add-btn {
  background-color: #007bff;
  color: white;
  transition: background-color 0.2s;
}

.add-btn:hover {
   background-color: #0056b3;
}

.remove-btn {
  background-color: #dc3545;
  color: white;
}

.remove-btn:hover {
  background-color: #a71d2a;
}

.tariffe-btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}


.form-check-label{
  font-size: 18px !important;
}

.modalita-visita {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modalita-visita input {
  border: 1px solid black !important;
  border-radius: 8px;
  padding: 6px 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.img-profile__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
  gap: 50px;
  background-color: white;
  margin: 50px;
  height: 400px;
}

.img-profile__photo img {
  border: 2px solid gray;
  border-radius: 50%;
  box-shadow: 0px 20px 38px rgba(0, 0, 0, 0.1) !important;
  height: 150px;
  width: auto;
}

.img-profile__photo img:hover {
  transform: scale(1.02);
}

.img-profile__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  padding: 0 !important;
}

.img-profile__btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 12px 12px;
  border: 1px solid transparent;
  border-radius: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  color: white;
  transition: background-color 0.2s;
  width: 70% !important;
}

.img-profile__btn button:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}
